{% extends 'base.html.twig' %}

{% block title %}Hello FormationInitialController!{% endblock %}
{% block menu %}
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">Interface</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{{ path('acceuil')}}" class="nav-item nav-link">Accueil</a>
                    <a href="{{path('groupe_interface')}}" class="nav-item nav-link">Groupe Interface</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Formations</a>
                        <div class="dropdown-menu">
                            <a href="{{ path('formation_initiale')}}" class="dropdown-item ">FORMATION INITIALE (BTS-BTP-CAP)</a>
                            <a href="{{ path('formation_accelere')}}" class="dropdown-item">FORMATION ACCÉLÉRÉE</a>
                            <a href="{{ path('formation_langue')}}" class="dropdown-item">FORMATION LANGUE</a>
                            <a href="{{ path('formation_continue')}}" class="dropdown-item">FORMATION CONTINUE</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="{{ path('diplome')}}" class="nav-link dropdown-toggle" data-toggle="dropdown">Diplômes</a>
                        <div class="dropdown-menu">
                            <a href="{{ path('bts')}}" class="dropdown-item ">DIPLOMES BTS - BREVET DE TECHNICIEN SUPÉRIEUR</a>
                            <a href="{{ path('btp')}}" class="dropdown-item">DIPLOMES BTP - BREVET DE TECHNICIEN PROFESSIONNEL</a>
                            <a href="{{ path('cap')}}" class="dropdown-item">DIPLOMES CAP - CERTIFICAT D'APTITUDE PROFESSIONNELLE</a>
                        </div>
                    </div>


                    <a href="{{ path('galerie_photos')}}" class="nav-item nav-link">Galerie Photos</a>
                    <a href="{{ path('pre_inscription')}}" class="nav-item nav-link">Pré-Inscription</a>
                    <a href="{{ path('contact')}}" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <!-- Single Page Start -->
    <div class="single mt-125">
        <div class="container">
            <div class="section-header">

                <h2>Formations</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('img/interface-formations-Tunisie.jpg') }}" alt="Image">

                    <p>
                        Interface Formation offre des formations diplomantes, continues et accélérées qui vous garantis
                        des nouvelles perspectives de croissance. Le programme de la formation comporte plusieurs choix
                        de cours du jour mais aussi du soir ouverts à tous, dans différents domaines. </p>
                    <div class="service mt-125">
                        <div class="container">
                            <div class="section-header">
                                <h2>Nos Formations </h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>FORMATION GENIE CIVILE <br> </h3>
                                        <p>
                                            (BATIMENTS ET DERIVES)
                                        </p>
                                        <a href="{{ path('formation_genie_civil')}}">Read More</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>FORMATION INFORMATIQUE</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit.
                                        </p>
                                        <a href="{{ path('formation_informatique')}}">Read More</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>FORMATION </br>GESTION</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit.
                                        </p>
                                        <a href="{{ path('formation_gestion')}}">Read More</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>FORMATION COMMERCE</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit.
                                        </p>
                                        <a href="{{ path('formation_commerce')}}">Read More</a>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>FORMATION COMPTABILITE</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit.
                                        </p>
                                        <a href="{{ path('formation_comptabilite')}}">Read More</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>FORMATION TOURISME</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit.
                                        </p>
                                        <a href="{{ path('formation_tourisme')}}">Read More</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>FORMATION ART ET DESIGN</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit.
                                        </p>
                                        <a href="{{ path('formation_art_design')}}">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
