<div class="x_panel">
    <div class="x_content">


        <div class="col-md-12 col-sm-12  form-group">
{{ form_start(form) }}
            {{ form_widget(form.nomCours,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Nom Cours'}})}}
            {{ form_widget(form.supportCours) }}
            {{ form_widget(form.idClasse,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Classe'}})}}


            <div style="width: 100%; display:flex; justify-content: flex-end">
                <button class="btn btn-primary btn-sm shadow-sm mt-2 mb-2">
                    <i class="fa fa-plus-square-o"></i>
                    {{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
