{% extends 'Back/baseBack.html.twig' %}
{% block content %}
    <h1>Cours index</h1>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">

            <table id="datatable" class="table table-striped table-bordered" style="width:100%" >
        <thead>
            <tr>
                <th>Id</th>
                <th>SupportCours</th>
                <th>Nom Cours</th>
                <th>Classe</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.supportCours }}</td>
                <td>{{ cour.nomCours }}</td>
                <td>{{ cour.idClasse }}</td>
                <td>{{ cour.DateCours ? cour.DateCours|date('Y-m-d') : ''}}</td>

                <td>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}"><i class="fa fa-eye"></i> </a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('cours_delete', {'id': cour.id}) }}"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <div style="width: 100%; display:flex; justify-content: flex-end">
                <a href="{{ path('cours_new') }}"><button type="button" class="btn  btn-success btn-sm shadow-sm mt-2 mb-2"><i class="fa fa-plus-square-o">   </i>  Ajouter</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
