{% extends 'Back/baseBack.html.twig' %}

{% block content %}
    <h1>DemandeFormationInitiale index</h1>

    <table id="datatable" class="table table-striped table-bordered" style="width:100%" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>FormationDemandee</th>
                <th>NomPrenom</th>
                <th>NumTel</th>
                <th>Email</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande_formation_initiale in demande_formation_initiales %}
            <tr>
                <td>{{ demande_formation_initiale.id }}</td>
                <td>{{ demande_formation_initiale.Niveau }}</td>
                <td>{{ demande_formation_initiale.FormationDemandee }}</td>
                <td>{{ demande_formation_initiale.nomPrenom }}</td>
                <td>{{ demande_formation_initiale.numTel }}</td>
                <td>{{ demande_formation_initiale.email }}</td>
                <td>{{ demande_formation_initiale.Pays }}</td>
                <td>{{ demande_formation_initiale.Ville }}</td>
                <td>
                    <a href="{{ path('demande_formation_initiale_show', {'id': demande_formation_initiale.id}) }}"><i class="fa fa-eye"></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );</script>
{% endblock %}
