{% extends 'Back/baseBack.html.twig' %}

{% block content%}
    <h1>Image</h1>
    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('image_edit', {'id': image.id}) }}">
            <button type="button" class="btn-sm shadow-sm btn btn-primary mt-2 mb-2 mr-2">
                <i class="fa fa-edit"></i>
            </button></a>
        {{ include('Back/image/_delete_form.html.twig') }}
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ image.id }}</td>
        </tr>
        <tr>
            <th>NomImage</th>
            <td>{{ image.nomImage }}</td>
        </tr>
        <tr>
            <th>DateAjout</th>
            <td>{{ image.dateAjout ? image.dateAjout|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>NumImage</th>
            <td>{{ image.numImage }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path("image_index") }}" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
        <button type="button" class="btn btn-dark">
            <i class="fa fa-arrow-circle-left">  </i>  retour
        </button>
    </a>
{% endblock %}
