{% extends 'Front/baseFront.html.twig' %}

{% block title %}Brevet de technicien professionne Avec ou
    Sans Bac{% endblock %}
{% block menu %}
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">Interface</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{{ path('acceuil')}}" class="nav-item nav-link">Accueil</a>
                    <a href="{{path('groupe_interface')}}" class="nav-item nav-link">Groupe Interface</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Formations</a>
                        <div class="dropdown-menu">
                            <a href="{{ path('formation_initiale')}}" class="dropdown-item " title="formation initiale"><b><i>FORMATION INITIALE (BTS-BTP-CAP)</i></b></a>
                            <a href="{{ path('formation_accelere')}}" class="dropdown-item" title="formation accélerée"><b><i>FORMATION ACCÉLÉRÉE</i></b></a>
                            <a href="{{ path('formation_langue')}}" class="dropdown-item" title="formation langue"><b><i>FORMATION LANGUE</i></b></a>
                            <a href="{{ path('formation_continue')}}" class="dropdown-item" title="formation continue"><b><i>FORMATION CONTINUE</i></b></a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="{{ path('diplome')}}" class="nav-link dropdown-toggle active" data-toggle="dropdown">Diplômes</a>
                        <div class="dropdown-menu">
                            <a href="{{ path('bts')}}" class="dropdown-item " title="diplome bts en tunisie"><b><i>DIPLOMES BTS - BREVET DE TECHNICIEN SUPÉRIEUR</i></b></a>
                            <a href="{{ path('btp')}}" class="dropdown-item"title="diplome btp en tunisie"><b><i>DIPLOMES BTP - BREVET DE TECHNICIEN PROFESSIONNEL</i></b></a>
                            <a href="{{ path('cap')}}" class="dropdown-item"title="diplome cap en tunisie"><b><i>DIPLOMES CAP - CERTIFICAT D'APTITUDE PROFESSIONNELLE</i></b></a>
                        </div>
                    </div>


                    <a href="{{ path('galerie_photos')}}" class="nav-item nav-link">Galerie Photos</a>
                    <a href="{{ path('pre_inscription')}}" class="nav-item nav-link">Pré-Inscription</a>
                    <a href="{{ path('contact_new')}}" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="single mt-125">
        <div class="container">
            <div class="section-header">

                <p><a title ="formation btp en tunisie"><b><i>Formation BTP</i></b></a></p>
                <h2> <a title ="formation btp ">Diplomes BTP </a>- Brevet de Technicien Professionnel</h2>
                <div style="text-align: right" class="col-1"><img src="{{ asset('img/icon/diplomes-homologues-Tunisie.jpg')}}" width="20" height="50"
                                                                  title="interface Formation Tunisie - Diplomes Homologués"
                                                                  alt="Diplomes Homologués - centre  formation Tunis"> </div></h2>

            </div>
            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('img/interface-Formation-diplome.jpg') }}" alt="Image">

                    <p>
                        Le <a title ="centre de formation en tunisie"><b><i>centre de formation de Tunis</i></b></a> INTERFACE Formation vous offre des formations professionnelles pour obtenir votre diplome homologué en BTP (Durée 2 ans):
                    </p>
                    <div class="section-header">
                        <h2><a title ="Formation btp génie civil en tunisie">Formation BTP (Génie Civil) Bâtiment et dérivés</a></h2>
                        <h3><a title ="Formation btp dessinateur projeteur en architecture en tunisie"><b><i>BTP Dessinateur Projeteur en Architecture</i></b></a></h3>
                        <h3><a title ="Formation btp métreur vérificateur en bâtiment en tunisie"><b><i>BTP Métreur Vérificateur en Bâtiment</i></b></a></h3>
                        <h3><a title ="Formation btp chef chantier en bâtiment en tunisie"><b><i>BTP CHEF Chantier en Bâtiment</i></b></a></h3>
                        <h3><a title ="Formation btp froid et climatisation en tunisie"><b><i>BTP Froid et Climatisation</i></b></a></h3>
                    </div>

                    <div class="section-header">
                        <h2><a title ="Formation btp informatique en tunisie"> Formation BTP Informatique</a></h2>
                        <h3><a title ="Formation btp PAO en tunisie"><b><i> BTP PAO</i></b></a></h3>
                        <h3><a title ="Formation btp technicien de maintenances en micro système informatique en tunisie"><b><i>BTP Technicien de Maintenances en Micro Système Informatique</i></b></a></h3>
                        <h3><a title ="Formation btp multimédia en tunisie"><b><i>BTP Multimédia</i></b></a></h3>
                    </div>

                    <div class="section-header">
                        <h2><a title ="Formation btp gestion - commerce en tunisie"> Formation BTP Gestion - Commerce</a></h2>
                        <h3><a title ="Formation btp commerce de distribution en tunisie"><b><i>BTP Commerce de Distribution</i></b></a></h3>
                        <h3><a title ="Formation btp formalités douanières en tunisie"><b><i>BTP Formalités douanières</i></b></a></h3>
                        <h3><a title ="Formation btp vente des produits tourstiques en tunisie"><b><i>BTP Vente des Produits tourstiques</i></b></a></h3>
                    </div>
                    <div class="section-header">
                        <h2><a title ="Formation btp gestion - comptabilité en tunisie">Formation BTP Gestion - Comptabilité</a></h2>
                        <h3><a title ="Formation btp comptable d’entreprise en tunisie"><b><i>BTP Comptable d’Entreprise</i></b></a></h3>
                        <h3><a title ="Formation btp formalités douanières en tunisie"><b><i>BTP Formalités douanières</i></b></a></h3>
                    </div>
                    <div class="section-header">
                        <h2><a title ="Formation btp tourisme en tunisie"> Formation BTP Tourisme</a></h2>
                        <h3><a title ="Formation btp vente des produits tourstiques en tunisie"><b><i> BTP Vente des Produits tourstiques</i></b></a></h3>
                    </div>
                    <div class="contact">
                        <div class="container">
                            <div class="contact-form">
                                <div id="success"></div>
                                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                    <div class="centrage">
                                        <a  href="{{ path('admission')}}" class="btn" type="submit" id="sendMessageButton">ADMISSION</a>
                                        <a href="{{ path('pre_inscription')}}" class="btn" type="submit" id="sendMessageButton">INSCRITPION EN LIGNE</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>


    <!-- Single Page End -->
    <br>
    <hr>
    <br>
{% endblock %}

