{% extends 'Back/baseBack.html.twig' %}

{% block content %}
    <h1>Matiere</h1>
    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('matiere_edit', {'id': matiere.id}) }}">
            <button type="button" class="btn-sm shadow-sm btn btn-primary mt-2 mb-2 mr-2">
                <i class="fa fa-edit"></i>
            </button></a>
        {{ include('Back/matiere/_delete_form.html.twig') }}
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matiere.id }}</td>
            </tr>
            <tr>
                <th>NomMatiere</th>
                <td>{{ matiere.nomMatiere }}</td>
            </tr>
            <tr>
                <th>MoyenneMatiere</th>
                <td>{{ matiere.moyenneMatiere }}</td>
            </tr>
            <tr>
                <th>CoeffMatiere</th>
                <td>{{ matiere.coeffMatiere }}</td>
            </tr>
            <tr>
                <th>NoteExamen</th>
                <td>{{ matiere.noteExamen }}</td>
            </tr>
            <tr>
                <th>NoteTest</th>
                <td>{{ matiere.noteTest }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path("matiere_index") }}" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
        <button type="button" class="btn btn-dark">
            <i class="fa fa-arrow-circle-left">  </i>  retour
        </button>
    </a>
{% endblock %}
