{% extends 'Back/baseBack.html.twig' %}

{% block content %}
    <h1>Matiere : {{ matiere.nomMatiere }} </h1>
    {% if is_granted ('ROLE_ETUDIANT') %}
        <table class="table">
            <tbody>
            <!--{ include('Back/cours/_form.html.twig') }}-->
            {% for cour in cours  %}
                {% if cour.idClasse.id == etudiant.classe.id %}

                    <tr>

                        <th>Nom Cours</th>
                        <td><a href="{{ path('etudiant_cours_show', {'id': cour.id}) }}">{{ cour.nomCours }}</a></td>
                    </tr>
                    <tr>
                        <th>SupportCours</th>
                        <td> <a href="{{ asset('courUpload/' ~ cour.supportCours  )}}" >{{ cour.supportCours }}</a></td>
                        <td>{{ cour.DateCours ? cour.DateCours|date('Y-m-d') : '' }}</td>

                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path("matiere_index") }}" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
            <button type="button" class="btn btn-dark">
                <i class="fa fa-arrow-circle-left">  </i>  retour
            </button>
        </a>
    {% endif %}
{% endblock %}
