{% extends 'Back/baseBack.html.twig' %}
{% block listeClasse %}
    <ul class="nav child_menu">
        {% for classe in classes %}
            <li><a href="{{ path('enseignant_classe_show', {'id': classe.id}) }}">{{ classe.niveauClasse }}--{{ classe.idSpecialite }}--{{ classe.numClasse }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{% block content%}
    <h1>Edit Avis</h1>

    {{ include('Back/avis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path("admin_avis_index") }}" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
        <button type="button" class="btn btn-dark">
            <i class="fa fa-arrow-circle-left">  </i>  retour
        </button>
    </a>


{% endblock %}