<!DOCTYPE html>

<title>Avis</title>

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>TitleAvis</th>
                <td>{{ avi.titleAvis }}</td>
            </tr>
            <tr>
                <th>DescriptionAvis</th>
                <td>{{ avi.descriptionAvis }}</td>
            </tr>
            <tr>
                <th>DateAvis</th>
                <td>{{ avi.dateAvis ? avi.dateAvis|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('avis_index') }}">back to list</a>

    <a href="{{ path('avis_edit', {'id': avi.id}) }}">edit</a>

    {{ include('avis/_delete_form.html.twig') }}
{% endblock %}
