{% extends 'Back/baseBack.html.twig' %}

{% block content %}
    <h1>Avis</h1>

    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('admin_avis_edit', {'id': avi.id}) }}">
            <button type="button" class="btn-sm shadow-sm btn btn-primary mt-2 mb-2 mr-2">
                <i class="fa fa-edit"></i>
            </button></a>
        {{ include('Back/avis/_delete_form.html.twig') }}
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>TitleAvis</th>
                <td>{{ avi.titleAvis }}</td>
            </tr>
            <tr>
                <th>DescriptionAvis</th>
                <td>{{ avi.descriptionAvis }}</td>
            </tr>
            <tr>
                <th>DateAvis</th>
                <td>{{ avi.dateAvis ? avi.dateAvis|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path("admin_avis_index") }}" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
        <button type="button" class="btn btn-dark">
            <i class="fa fa-arrow-circle-left">  </i>  retour
        </button>
    </a>
{% endblock %}
