<div style="width: 100%; display:flex; justify-content: center">
    {{ form_start(form) }}
   {{ form_widget(form.nomPrenom,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'nom et prenom'}})}}
    {{ form_widget(form.numTel,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'numero de telephone '}})}}
    {{ form_widget(form.email,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'email'}})}}
    {{ form_widget(form.pays,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'pays'}})}}
    {{ form_widget(form.ville,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'ville'}})}}
    {{ form_widget(form.message,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'message'}})}}
    <div style="width: 100%; display:flex; justify-content: center">
        <button class="btn btn-primary btn-sm shadow-sm mt-2 mb-2">
            <i class="fa fa-plus-square-o"></i>
            {{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}

</div>